<h1>Listing profiles</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.name %></td>
    <td><%= link_to 'Visualizar', profile %></td>
    <td><%= link_to 'Editar', edit_profile_path(profile) %></td>
    <td><%= link_to 'Excluir', profile, :method => :delete, :confirm => 'Tem certeza?' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Perfil', new_profile_path %> 
