<%= div_for article do %>
	<% if article.owned_by? current_user %>
	<h3> 
		<span class="actions">
		<%= link_to "Editar", edit_article_path(article) %>
		<%= link_to "Excluir", article, :confirm => "Tem certeza que deseja excluir artigo?", :method => :delete %>
		</span>
	</h3>
	<% end %>

	<header class="flash">
		<h2><%= article.title %></h2>
		<hr>
		<div class="conteudotexto">
			<%= simple_format article.content %>
			<p class="autor">Por <%= link_to article.user.name, article.user, :rel => "author" %></p>
		</div>
	</header>
	<div class="clear"></div>
<% end %>
