<h1>Publicar Artigos</h1>

<table>
	<tr>
		<th><%= label :article, :title, "Título" %></th>
		<th class="percent"><%= label :article, :created_at,"Criado em" %></th>
		<th><%= label :user, :name, "Nome" %></th>
	</tr>
	<% 
		@articles.each do |article| 
		id = 'publicar_' + article.id.to_s
	%>
	  <tr>
		    <td class="images"><%= article.title %></td>
		    <td class="images"><%= article.created_at.to_s(:date) %></td>
		    <td class="images"><%= article.user.name %></td>
		    
		    <% if article.published_at %>
		    	<td class="images"><%= link_to image_tag("/images/decrease.png", :alt => 'Despublicar', :title => 'Despublicar', :class => 'img_publish') + '', url_for(:controller => :articles, :action => :publish, :id => article.id), :remote => true, :id => id, :onclick => "showLoading()" %></td>
		    <% else %>
		    	<td class="images"><%= link_to image_tag("/images/increase.png", :alt => 'Publicar', :title => 'Publicar', :class => 'img_publish') + '', url_for(:controller => :articles, :action => :publish, :id => article.id), :remote => true, :id => id, :onclick => "showLoading()" %></td>
			<% end %>
		    
		    <td class="images"><%= link_to image_tag("/images/eye.png", :alt => 'Visualizar', :title => 'Visualizar') + '', article %></td>
		    <td class="images"><%= link_to image_tag("/images/pencil.png", :alt => 'Editar', :title => 'Editar') + '', edit_article_path(article) %></td>
		    <td class="images"><%= link_to image_tag("/images/delete.png", :alt => 'Excluir', :title => 'Excluir') + '', article, :method => :delete, :confirm => 'Tem certeza?' %></td>
	  </tr>
	<% end %>
</table>

<br />
