<p id="notice"><%= notice %></p>

<div class="user_show">
<div class="user_img">
	<%= image_tag @user.gravatar_url(:rating => 'R', :secure => true, :size => 120) %>
</div>
<div class="user_info">
	<div class="user_nick">
	  <b>NickName:</b>
	  <%= @user.nickname %>
	</div>
	<div class="user_email">
	  <b>E-mail:</b>
	  <%= @user.email %>
	</div>

	<div class="user_name">
	  <b>Nome:</b>
	  <%= @user.name %>
	</div>

	<div class="user_born">
	  <b>Nascimento:</b>
	  <%= @user.born %>
	</div>
</div>
<div class="clear"> 
</div>
</div>
