<div class="flash">
	<h2>Equipe DevGeX</h2>
	<hr>
	<p class="conteudodesc">Aqui você poderá conhecer um pouco mais sobre os integrantes do primeiro Portal GeneXus brasileiro.</p>
</div>
<div id="integrantes">
	<div class="integrante">
		<div class="intimg"><%=image_tag("intdanilo.png", :alt=>"Danilo Oliveira Vaz") %></div>
		<div class="intdesc">
		
				<p><strong>Danilo Vaz</strong> é o idealizador desse portal, apaixonado por linguagens de programação, tortuguitas, livros, coca-cola e café.
				É auto-didata, piadista e introvertido. Já quis ser músico, skatista, advogado, cientista, um hobbit e até o batman. Mas foi na programação que descobriu sua verdadeira paixão.<br>
				Conheceu <strong>GeneXus</strong> em 2011 e desde então vem atuando em TI com essa poderosa ferramenta.</p>
				<h3><span>Danilo Vaz</span> &ndash; <a href="http://twitter.com/maskotex">@maskotex</a></h3>
		</div>
	</div>
	
	<div class="integrante">
		<div class="intimg"><%=image_tag("eric.png", :alt=>"Eric Andrade Martins") %></div>
		<div class="intdesc">
					<p><b>Eric Andrade Martins</b> é um cara comum, um programador convidado a ser parte do portal pelo Danilo Vaz, gostou da ideia e resolveu se juntar a equipe. É um cara simpático, divertido e sério. Em seu tempo livre navega pela internet, lê sobre diversos artigos, é viciado em filmes, adora desenhos, adora hip-hop, tenta se informar sobre as novidades de TI, resumindo um nerd/geek.<br> <b>Linguagens:</b> Ruby, C++, Delphi, VisualBasic.NET.<br> Conheceu <strong> GeneXus</strong> em 2011.</p>
				<h3><span>Eric Andrade Martins</span> &ndash; <a href="http://twitter.com/eaapm">@eaapm</a></h3>
		</div>
	</div>
	<div class="integrante">
		<div class="intimg"><%=image_tag("felipe.jpg", :alt=>"Felipe Domiciano de Oliveira") %></div>
		<div class="intdesc">
					<p><b>Felipe Domiciano</b></p>

		</div>
	</div>
	<div class="integrante">
		<div class="intimg"><%=image_tag("leandro.png", :alt=>"Leandro Hossaki") %></div>
		<div class="intdesc">
					<p><b>Leandro Hossaki</b></p>

		</div>
	</div>
	<div class="integrante">
		<div class="intimg"><%=image_tag("luciano.png", :alt=>"Luciano Rodrigues") %></div>
		<div class="intdesc">
					<p><b>Luciano Rodrigues</b></p>

		</div>
	</div>
	<div class="integrante">
		<div class="intimg"><%=image_tag("patrick.jpg", :alt=>"Patrick Américo") %></div>
		<div class="intdesc">
					<p><b>Patrick Américo</b></p>

		</div>
	</div>
	<div class="integrante">
		<div class="intimg"><%=image_tag("valdo.png", :alt=>"Valdo Batista") %></div>
		<div class="intdesc">
					<p><b>Valdo Batista</b></p>
	
		</div>
	</div>
</div>